<section ng-controller="UserDirectoryController">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h2>Who would you like to chat with?</h2>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" autofocus type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group ng-hide" ng-show="search">

    <style>
    @import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");

    ul.pagination {
      /*display: block;*/
      margin: auto;
      align-self: center;
      align-items: center;
      text-align: center;
      border: 0;
      outline: 0;
    }

    .list-group-item {
      display: block;
      text-align: center;
      border: 0;
      outline: 0;
    }

    .list-group-item img {
      display: block;
      float: left;
      width: 80px;
      outline: 0;
      -webkit-border-radius: 12px;
      border-radius: 12px;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .btn:hover {
      background-color: #5F5980;
      opacity: 1;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }

    .btn {
        display: inline-block;
        width: 50vh;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 1rem;
        line-height: 140%;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        /*border: 0px solid transparent;*/
        border-radius: 4px;
        background: #DFDFDF;
        color: #5F5980;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
             -o-user-select: none;
                user-select: none;
    }

    .list-group-item h4 {
      font-family: 'Bree Serif', serif;
      font-size: 20px;
      display: block;
      float: left;
      padding-left: 60px !important;
    }

    .pagination {
      align-items: center;
      text-align: center !important;
      margin: 0px !important;
      float: none;
    }
    </style>

    <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" class="pagination"></pagination>

    <li ng-repeat="user in pagedSearchItems"
    class="list-group-item">

    <!-- ui-sref="users.user({userId: user._id})" -->
      <a ng-href="https://meet.jit.si/{{authentication.user.username}}meets{{user.username}}">
      <button btn-link class="btn">
      <img ng-src="{{user.profileImageURL}}" alt="{{user.username}}" />
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
    </li>
  </button>
  </a>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" class="pagination" style="align-items: center;"></pagination>
</section>
