<section ng-controller="UserDirectoryController">



  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

  <div class="page-header" style="border: none;">
    <div class="row">
      <div class="col-md-4 col-sm-4">
      </div>
      <div class="input-group col-md-4">
        <div class="col-xs-12" style="margin-top: 2em">
          <h3 ng-if="!search">{{placeholder}}</h3>
          <input class="form-control has-feedback col-xs-12" autofocus type="text" ng-model="search" placeholder="Search by name or email" ng-change="figureOutItemsToDisplay()" />


          <div class="input-group-addon  pull-right" style="position: relative; top: -35px; width: 35px; height: 35px; padding: 5px; cursor: pointer; z-index: 100;" ng-click="webSpeech();">
                <i class="fa fa-microphone"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group ng-hide col-md-4 col-md-offset-4" ng-show="search" align="center">



    <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" class="pagination"></pagination>

    <li ng-repeat="user in pagedSearchItems" class="list-group-item" align="center">
      <a ng-href="https://meet.jit.si/{{authentication.user.username}}meets{{user.username}}">
      <button btn-link class="btn" style="width:100%;" ng-click="sendInvite(user, authentication.user)">
      <img ng-src="{{user.profileImageURL}}" alt="{{user.displayName}}" />
      <h4 class="list-group-item-heading" ng-bind="user.displayName" ></h4>
      <h5 class="col-sm-6 text-left pull-right" ng-if="user.online">is online</h5>
      </li>
      </button>
      </a>
</div>
<div class="row">
  <div class="col-xs-6 pull-left">
    <div style="box-shadow: 0px 2px 25px rgba(0, 0, 0, .25);" class="box-shadow" ng-if="inviteReceived" ng-model="inviteData">
      {{invitation.sender.displayName}} has invited you to chat. Would you like to join?
      <div class="btn-group-justified">
        <button class="btn-lg btn-info" type="button" name="button"><a href="{{invitation.link}}">Yes</a></button>
        <button class="btn-lg btn-danger" type="button" name="button" ng-click="inviteDenied();">NO</button>
      </div>
    </div>
  </div>

</div>

<div class="list-group ng-hide col-md-4 col-md-offset-4" style="border: none;" align="center" ng-show="search">
    <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()" class="pagination ng-hide col-md-offset-4" ng-show="search" style="align-items: center;"></pagination>
</div>

</section>
