<section>
<h2 content="vm.pageHeader">About Chateo</h2>
<p class="about">
Chateo is an app designed to eliminate the distance between seniors and their family and friends.
</p>

<!-- <h3>The Inspiration</h3>
<p class="about">
  The project was inspired by a powerful and touching moment I had one Christmas a couple of years ago. I was at home that year when I got a call from my aunt Lauri, who was visiting my grandma in Arizona. She told me the nursing home where my great aunt Carolyn lived had called and said that Carolyn may not make it through the night. I got in the car and drove down there to see her.
</p>

<p class="about">
The snow was blinding and the conditions treacherous but I got there in about an hour.
Aunt Carolyn had suffered a stroke several years ago and hadn't been able to speak since but her eyes were alert when I got there. I asked how she was. She took my hand and smiled.
</p>

<p class="about">
I called my aunt and grandma and thought about putting them on speaker phone so they could say something to her but the idea felt lacking so we decided to connect on facetime. I held my iPhone 5s in front of Aunt Carolyn, trying to frame her face and make sure she could see her sister on what suddenly felt like a woefully tiny screen as my aunt did the same for my grandma.
</p>

<p class="about">
It was sweet. My grandma got to look at her sister and tell her she loved her from 3 states away and my great aunt, who hadn't been able to speak in years, could reply by smiling.
</p>

<p class="about">
After a while, goodbyes were said and I got in my car to go home. But I kept thinking there has got to be a way of making that experience better. Maybe I should bring the iPad next time because it has a bigger screen. I never got the chance to try again with Aunt Carolyn. She passed away peacefully in her sleep a day or two later.
</p>

<p class="about">
But my grandma has another sister that lives in Colorado and I have been driven to create an amazing video chat experience for them. Eventually this experience should make them feel like they are in the same room together instead of just watching a video on a phone.
</p><br> -->
</section>
