<section ng-controller="AboutController">
<h2 content="vm.pageHeader">About Chateo</h2>

<p class="about">
Chateo is an app designed specifically to eliminate the distance between seniors and their family and friends.
</p>

<p>
As people get older, it becomes more difficult to travel and see the faces of friends and loved ones. This is even more true for residents of assisted living facilities. For many of these people, their lives may have carried them far away from siblings, dear old friends and the people that we all surround ourselves with and that make us feel like we are at home.
</p>


<p>
  Video chat applications like Skype and Facetime help to erase the distance between all of us but it is our opinion at Chateo that they don't do enough for seniors who may hesitate to adopt new technology or may be intimidated by them.
</p>

<p>
  Chateo is desiged to work through any large screen television so that faces are at least life sized and high definition. Soon Chateo will incorporate voice recognition and gesture recognition interface elements to simplify everything for the user and provide more sophisticated interaction between users over video.
</p>

<p>
  This service is very new but arguably a vital outlet for seniors who may feel isolated and lonely.
</p>

<p>
  If you are interested in supporting this service, please click the button below to donate and help the Chateo team bring this service to life.
</p>

<p>
  If you have questions, comments or suggestions please click 'Contact' up in the navigation bar to give us your two cents. We would love to hear from you.
</p>

<div class="span7 center">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="7W6Y75QXHS658">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
</div>



</section>
