<section ng-controller="HomeController">

  </div>
  <div class="jumbotron text-center bg-primary" ng-hide="authentication.user" style="background-color: white;">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" >
        <img alt="Yakkee" class="img-responsive text-center" src="modules/core/client/img/brand/ChateoLogo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        An app to connect seniors to family and loved ones
      </p>
      <p class="lead">
        Email, Messaging & Video Chat
      </p>
    </div>
    <div class="row">
      <p>

      </p>
    </div>
  </div>
  <div ng-if="authentication.user">

    <div ng-include="'/modules/users/client/views/user/user-directory.client.view.html'"></div>

  </div>

</section>
